{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Quiz</title>
    <link rel="stylesheet" href="{% static 'css/start_quiz.css' %}">
</head>
<body>
    <nav>
        <img src="https://msclub-ci.tech/static/logo.png" alt="" class="logo">
        <p>Please under no circumstance change or close this tab as it may lead to auto submission or rejection of your quiz then no marks for DSA so.... :/</p>
    </nav>
    
    <h1>LET THE QUESTIONS POUR IN</h1>

    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}

    <form method="post" class="form">
        {% csrf_token %}
        
        <div class="words">
            <label for="name" class="word">Name:</label>
            <input class="input" type="text" id="name" name="name" placeholder="Your Name" required>
        </div>

        <div class="words">
            <label for="usn" class="word">USN:</label>
            <input class="input" type="text" id="usn" name="usn" placeholder="Your USN" required>
        </div>

        <div class="words">
            <label for="department" class="word">Department:</label>
            <input class="input" type="text" id="department" name="department" placeholder="Your Department" required>
        </div>

        <div class="words">
            <label for="college_email" class="word">College Email:</label>
            <input class="input" type="email" id="college_email" name="college_email" placeholder="Your College Email" required>
        </div>

        <button type="submit" class="button-confirm">Start Quiz</button>
    </form>
</body>
</html>
